@font-face {
  font-family: "HeroicCondensedBlack";
  src: url("fonts/HeroicCondensed-Black.otf");
}

@font-face {
  font-family: "HeroicCondensedBlack";
  src: url("fonts/HeroicCondensed-Black.otf");
}

@font-face {
  font-family: "HeroicCondensedBlackOblique";
  src: url("fonts/HeroicCondensed-BlackOblique.otf");
}

@font-face {
  font-family: "HeroicCondensedBold";
  src: url("fonts/HeroicCondensed-Bold.otf");
}

@font-face {
  font-family: "HeroicCondensedBoldOblique";
  src: url("fonts/HeroicCondensed-BoldOblique.otf");
}

@font-face {
  font-family: "HeroicCondensedBook";
  src: url("fonts/HeroicCondensed-Book.otf");
}

@font-face {
  font-family: "HeroicCondensedBookOblique";
  src: url("fonts/HeroicCondensed-BookOblique.otf");
}

@font-face {
  font-family: "HeroicCondensedHeavy";
  src: url("fonts/HeroicCondensed-Heavy.otf");
}
@font-face {
  font-family: "HeroicCondensedHeavyOblique";
  src: url("fonts/HeroicCondensed-HeavyOblique.otf");
}

@font-face {
  font-family: "HeroicCondensedLight";
  src: url("fonts/HeroicCondensed-Light.otf");
}

@font-face {
  font-family: "HeroicCondensedMedium";
  src: url("fonts/HeroicCondensed-Medium.otf");
}

@font-face {
  font-family: "HeroicCondensedMediumOblique";
  src: url("fonts/HeroicCondensed-MediumOblique.otf");
}

@font-face {
  font-family: "HeroicCondensedMediumOblique";
  src: url("fonts/HeroicCondensed-MediumOblique.otf");
}

@font-face {
  font-family: "HeroicCondensedRegular";
  src: url("fonts/HeroicCondensed-Regular.otf");
}

@font-face {
  font-family: "HeroicCondensedRegularOblique";
  src: url("fonts/HeroicCondensed-RegularOblique.otf");
}

@font-face {
  font-family: "HeroicCondensedThin";
  src: url("fonts/HeroicCondensed-Thin.otf");
}

@font-face {
  font-family: "HeroicCondensedThinOblique";
  src: url("fonts/HeroicCondensed-ThinOblique.otf");
}

body {
  overflow: visible;
}

header {
  display: flex;
  background: #001f3f;
  width: 100vw;
  height: 6em;
  max-width: 100%;
  max-height: 100%;
  margin-right: 0;
  min-height: fit-content;
}

header .other {
  color: #adc3d9;
}

.selected {
  color: #85cfe1;
}

header .other:hover {
  color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.header-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

header .logo-pic {
  display: flex;
  margin-top: 0.8em;
  margin-left: 1em;
  align-items: center;
  justify-content: center;
}

header .logo-pic img {
  display: flex;
  font-size: 32px;
  align-items: center;
  width: 6em;
  height: auto;
}

header nav {
  display: flex;
  height: 100%;
  justify-content: center;
}

.name-one,
.name-two,
.name-three,
.name-four,
.name-five,
.name-six,
.name-seven {
  display: flex;
  margin-top: 0.2em;
  flex-wrap: nowrap;
  height: fit-content;
  width: fit-content;
  text-align: center;
  display: inline-block;
  position: relative;
  font-size: 32px;
  font-family: "HeroicCondensedMedium";
  font-weight: 400;
}

.menu li:last-child {
  margin-right: 1em;
}

.menu > li {
  margin: 0 0.8rem;
  overflow: hidden;
  margin-bottom: auto;
  margin-top: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  font-family: "HeroicCondensedRegular";
  grid-area: "footer";
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 2;
  color: #114f74;
}

footer img {
  width: 150px;
  height: 150px;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    margin-right: 0.8em;
    overflow: visible;
  }

  .menu-button {
    margin-top: 0.4em;
    margin-bottom: auto;
    margin-right: 0.2em;
  }

  .menu {
    position: absolute;
    top: 2.8em;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;

    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #001f3f;
    z-index: 999;
  }

  .name-one,
  .name-two,
  .name-three,
  .name-four,
  .name-five,
  .name-six,
  .name-seven {
    font-size: 24px;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  header .logo-pic {
    margin-left: 0.2em;
  }

  footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    height: 10px;
    padding: 25px;
  }

  footer img {
    width: 100px;
    height: 100px;
  }
}
